
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    


 
  
  
  


</head>
	

<body>

  <div class="container">
  <img src="{{url_for('static', filename='imgs/background.png')}}" alt="Bground" style="width:100%;">
  
<div class="top-left">
    <p class="thick_small_caps">Rashan Le Liya ??</p>
    <p class="thin_small_caps">What about them ??</p>
    <p>
      Just looking outside my window, I see <br> distressed,hunger stricken , daily earners, rickshawallas <br> and safaai walas waiting for some miracle to happen.<br>
      They do not have any means to buy food, <br>or even if they had means , do not have the medium as<br> most grocery stores in their area are out of stock!      
    </p>

    <p>
      People with MEANS and INTENT can both come forward!
    </p>

  </div>
</div>

  

<div class="container_black_text">
      
        <div class="form-group">
          <p>Please identify people who need rations using the People need help tab</p>  <a href="{{ url_for('addneedy') }}" class="btn btn-primary">People Need Help</a>
        </div>
</div>  
  

<div class="container_black_text">
      
        <div class="form-group">
          <p>If you want to contribute , please click on the contribute button and help the needy people out.</p>   
            <a href="{{ url_for('pending') }}" class="btn btn-primary">Contribute</a>
          </div>
</div>  

	<!-- <p><a href="{{ url_for('pending') }}">Check pending</a></p> -->
	


</body>