
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

		<style>
			table {
			  font-family: arial, sans-serif;
			  border-collapse: collapse;
			  width: 100%;
			}

			td, th {
			  border: 1px solid #dddddd;
			  text-align: left;
			  padding: 8px;
			}

			tr:nth-child(even) {
			  background-color: #dddddd;
			}
		</style>		


	</head>
		

	<body>

		<form action="/mark_as_complete" method="post" enctype="multipart/form-data">
			<table>
			  <tr>
			  	<th>Request ID</th>
			    <th>Name</th>
			    <th>Contact Number</th>
			    <th>Latitude</th>
			    <th>Longitude</th>
			    <th>Address</th>
			    <th>Request Status</th>
			    <th>Rice Quantity</th>
			    <th>Wheat Quantity</th>
			    <th>Oil Quantity</th>
			    <th>Daal Quantity</th>
			    <th>Place Order</th>
			  </tr>
			  
			  {% for item in items %}		  
			  <tr>
			  	<td>{{item.request_id}}</td>
			  	<td>{{item.name}}</td>
			  	<td>{{item.contact_num}}</td>
			  	<td>{{item.lat}}</td>
			  	<td>{{item.lon}}</td>
			  	<td>{{item.requestor_address}}</td>
			  	<td>{{item.request_status}}</td>
			  	
			  	<td>{{item.rice_qty}}</td>
			  	<td>{{item.wheat_qty}}</td>
			  	<td>{{item.oil_qty}}</td>
			  	<td>{{item.daal_qty}}</td>
		  	 	<td>
		  	 		<input type="checkbox" id="request_number" name={{item.request_id}} value={{item.request_id}}>
		  	 	</td>
			  </tr>
			  {% endfor %}
			  
			</table>
			<div class="container_black_text">
				<div class="form-group">
			      	<label>Contact Number(10 digit Mobile):</label>
			      	<input type="text" onfocus="this.value=''" class="form-control" id="contact_num" placeholder="Contact Number" name="contact_num">
			    </div>			    
			</div>
			<div class="container_black_text">
				<p class="thick">
					Please fill the form only when you are sure that you are going to contribute and ensure that the materials will reach the ones who need.
					In times of crisis we hope to work together in solidarity in order to secure the life of people.
				</p>
				<p class="normal">
					If possible, please contact the needy people in this list before submitting the form in order to avoid dupications.
					
				</p>
			</div>
			<div class="container">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</form>


	</body>

</html>